<header>
    <div class="learnpoint-startpages__button">
        <a href="/" class="learnpoint-startpages__link"><img src="/_images/_global/arrow-left-circle.svg" class="learnpoint-startpages__link-icon"><span></span></a>
    </div>
    <div class="top-nav">
        <nav class="top-nav__left">
            <a href="/e" class="top-nav__link"><img src="/_images/a/house-fill.svg" class="top-nav__icon"><span>Home</span></a>     
            <a href="#" class="top-nav__link"><img src="/_images/a/calendar-event-fill.svg" class="top-nav__icon"><span>Calendar</span></a>
        </nav>
        <div class="top-nav__right">
            <a href="#" class="top-nav__link"> <img src="/_images/a/bell-fill.svg" class="top-nav__icon"></a>
        </div>
    </div>
    
</header>