body {
    font-family: -apple-system, "Segoe UI", Helvetica, sans-serif;
    background-color: #fffcf9;
    /* background-color: #fafafa; */
}

main {
    max-width: 1208px;
    margin:64px auto;
    border-radius: .5em;
}

header {
    position: relative;
}

hr {
    border: none;
    border-top:1px solid #ddd;
}

nav {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    background-color: #fffcf9;
    /* background-color: #fafafa; */
    z-index: 1000;
}

.group__name {
    text-align: center;
}

.group__course-page-title {
    text-align: center;
    margin: 8px 0;
    font-size: 32px;
}

.learnpoint-startpages__button {
    position: absolute;
    top: 16px;
}

.learnpoint-startpages__link {
    padding: 16px;
}

.learnpoint-startpages__link-icon {
    opacity: 0.3;
    width: 24px;
    height: 24px;
}

.learnpoint-startpages__link-icon:hover {
    opacity: 1;
}

.top-nav {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 16px 0;
}

.is-mobile .top-nav {
    gap: 24px;
    align-items: baseline;
    margin: 16px 0;
}

.top-nav__link {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap:6px;
    flex-shrink:unset;
}

.is-mobile .top-nav__link {
    font-size: 10px;
    gap: 0;
    flex-direction: column;
}

.top-nav__icon {
    opacity: 0.7; 
    
}

.top-nav__user-profile {
    position: absolute;
    right: 16px;
    top:10px;
}

.is-mobile .top-nav__user-profile {
    top:16px;
}

.top-nav__avatar {
    display: block;
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.top-nav__help-page-link {
    position: absolute;
    right: 8px;
    top:10px;
    opacity: 0.7;
}

.is-mobile .top-nav__help-page-link {
    right: 8px;
    top:16px;
}

.top-nav__unread-badge {
    position: absolute;
    top: 13px;
    margin-left: 6px;
    font-size: 10px;
    display: inline-flex;
    inline-size: 13px;
    block-size: 13px;
    line-height: 13px;
    text-align: center;
    font-weight: bold;
    background-color: #f34906;
    border: 1px solid #f34906;
    border-radius: 50%;
    color: #fff;
    justify-content: center;
    align-items: center;
}


.is-mobile .top-nav__unread-badge {
    top: 9px;
    margin-left: 14px;
}

.notifications {
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 6px; 
    max-width: 768px;
    margin: 0 auto;
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    margin: auto;
    height: 0;  
    overflow: hidden;
    /* visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease, visibility  .2s ease; */
    z-index: 10000;
}

.is-mobile .notifications {
    top: 64px;
}

.is-mobile .notifications {
    height: 100vh;
    background-color: #f9f9f9;
}

.notifications:after {
    content: '';
    position: absolute;
    top: -10px;
    left: -61px;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 1000;
}

.notifications:before {
    content: '';
    position: absolute;
    top: -11px;
    left:-61px;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: 11px solid #eee;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    z-index: 1000;
}

.notifications.OPEN {
    /* display: block; */
    /* visibility: visible;
    opacity: 1;
    transition: opacity .3s ease, visibility  .2s ease; */
    transition: height .15s;
    height: 458px;
}


.notifications__container {
    padding: 32px;
    background-color: #fff;
    background-color: #fff;
}

.notifications__header {
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
    margin-bottom: .3em;
}

.notifications__title {
    font-weight: bold;
    font-size: 1.2m;
    flex: 1;
}

.notifications__actions {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #555;
    font-size: 14px;
}

.notifications__item {
    display: flex;
    gap: 12px;
    padding: 8px 6px;
    margin: 0 -6px;
    color: inherit;
    text-decoration: none;
    border-radius: 6px;
}

.notifications__icon {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: contain;
    background-color: #ddd;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.notifications__item.SUBMISSION .notifications__icon {
    background-color: #5856d6;
    background-image: url(_images/download.svg); 
    background-size: 20px 20px;
}

.notifications__item.NEWS .notifications__icon {
    background-color: #ff2d55;
    background-image: url(_images/megaphone-fill.svg);
    background-size: 18px 18px;
}

.notifications__item.COMMENT .notifications__icon {
    background-color: #34aadc;
    background-image: url(_images/chat-square-fill.svg);
    background-size: 16px 16px;
}

.notifications__content {
    flex: 1;
}

.notifications__description {
    font-size: 16px;
    line-height: 1.3;
}

.notifications__meta {
    font-size: 13px;
    color: #777;
    font-weight: normal;
    display: flex;
    gap: 0 4px;
    flex-wrap: wrap;
    line-height: 1.2;
}

.notifications__read {
    background-color: #f9f9f9;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0 0 6px 6px;
}

.notifications__read .notifications__container {
    padding: 32px;
    background-color: #f9f9f9;
}

.notifications__view-more-link {
    display: block;
    text-align: center;
    padding:0  0 2em 0;
     color: #0079f2;
     text-decoration: none;
}

.profile-menu {
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 6px;
    min-width: 250px;
    margin: 0 auto;
    position: absolute;
    right: 6px;
    top: 48px;
    z-index: 1000;
    display: none;
}

.profile-menu:before {
    content: '';
    position: absolute;
    top: -9px;
    right: 12px;
    width: 0;
    height: 0;
    border-bottom: 9px solid #eee;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.profile-menu:after {
    content:'';
    position: absolute;
    top:-8px;
    right: 13px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.profile-menu.OPEN {
    display: block;
}


.profile-menu__container {
    padding: 20px;
}

.profile-menu__heading {
    font-weight: 600;
    margin-bottom: 4px;
}

.profile-menu__item-heading {
    font-weight: 600;
    margin-bottom: 4px;
}

.profile-menu__item {
  margin-bottom: 16px;
  cursor: pointer;
}

.profile-menu__item:last-child {
    margin-bottom: 0;
}

.context-menu {
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 6px;
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 48px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.is-mobile .context-menu {
    width: 90%;
}

.context-menu:before {
    content: '';
    position: absolute;
    top: -9px;
    right: 40px;
    width: 0;
    height: 0;
    border-bottom: 9px solid #eee;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.context-menu:after {
    content:'';
    position: absolute;
    top:-8px;
    right: 41px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.context-menu.OPEN {
    display: block;
}


.context-menu__container {
    padding: 28px;
}

.context-menu__heading {
    font-weight: 600;
    margin: 10px 0 4px;

}

.context-menu__item-heading {
    font-weight: 600;
    margin-bottom: 4px;
}

.context-menu__item {
  margin-bottom: 16px;
  cursor: pointer;
}

.context-menu__item:last-child {
    margin-bottom: 0;
}
  
.school__logo {
    width: 240px;
    margin: 32px auto;
    display: flex;
    justify-content: center;
}

.school__logo-image {
    width: 50px;
    height: 100%;
}

.school-groups__actions {
    margin: 24px;
}

.school-groups__filter-options {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.school-groups__filter {
    border-radius: 16px;
    background-color: #fff;
    padding: 6px 20px;
    border: 1px solid #ddd;
    color: #222;
    font-size: 14px;
}

.school-groups__filter.SELECTED {
    background-color: #fcdcce;
    background-color: #eee;
}


.school-groups__view-togglers {
    display: flex;
    align-items: center;
    display: none;
}

.school-groups__view-toggler {
    background-color: #ddd;
    padding: 4px;
}

.school-groups__view-toggler-icon {

}

.school-groups__list {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    justify-content: center;
}

.is-mobile .school-groups__list {
    flex-wrap: wrap;
}

.school-groups__list-item {
    /* box-shadow: 0 -1px 1px hsla( 32.2, 20.2%, 60.2% , 0.05), 0 1px 2px -0.5px hsla( 32.2, 20.2%, 60.2% , 0.1) , 0 2px 4px -1px hsla( 32.2, 20.2%, 60.2% , 0.2) , 0 4px 8px -2px hsla( 32.2, 20.2%, 60.2% , 0.2);
    width: 240px;
    height: 125px;
    background-color: #fff;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 10px; */
    width: 240px;
    height: 120px;
    border: 1px solid #dbdbdb;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.is-mobile .school-groups__list-item {
    width: 45%;
}


.school-groups__list-item-link {
    /* color: #000;
    text-decoration: none;
    font-weight: 600; */
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-weight: bold;
    padding: 16px 16px 4px 16px;
    padding: 0 16px;
    display: block;
    font-size: 18px;
    font-size: 16px;
    line-height: 1.2;
}

.school-groups__list-item-type {
    /* display: block;
    margin: 4px 0;
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px; */
    display: block;
    padding: 0 16px;
    padding: 16px 16px 2px 16px;
    color: #444;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: normal;
    font-size: 11px;
    font-size: 13px;
}

.school-groups__show-all {
    text-align: center;
    margin: 24px;
}

.school-groups__show-all-link {
    color: #333;
    font-size: 15px;
}

.group-content__actions {
    text-align: center;
    margin: 48px 0;
}

.group-content__button {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.02));
    background-color: #fff;
    border: 1px solid #b5b5b5;
    padding: 0.5em 1em;
    border-radius: 99rem;
    color: #111;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    outline: 0;
    padding: 6px 14px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    margin-bottom: 16px;
}

.group-content__button.PRIMARY {
    background-color: #0079f2 ;
    border-color: #0079f2;
    color: #fff;
}

.group__course-item-content {
    padding: 16px;
    max-width: 960px;
    margin: 0 auto;
    /* background-color: #fbfbfb; */
    /* border: 1px solid #dbdbdb; */
    border-radius: 12px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    background-color: #fff;
}

.group__course-content {
    /* padding: 16px; */
    max-width: 960px;
    margin: 40px auto;
    /* background-color: #fbfbfb; */
    /* border: 1px solid #dbdbdb; */
    border-radius: 12px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    background-color: #fff;
}

.group__course-content-section {
    margin: 0px 0 8px;
    padding: 16px;
}

.group__course-content-section:last-child {
    margin: 0;
}

.group__course-content-section-name {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 4px;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.group__course-content-item {
    padding: 12px 0; 
    text-decoration: none;
    color:#0079f2; 
    border-bottom: 1px solid #eee;
}

.group__course-content-item:visited {
    color:#0079f2;  
}

.group__course-content-item a {
    text-decoration: none;   
    color:#0079f2; 
}

.group__course-content-item-new {
    color:#000; 
    padding: 8px 0; 
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;
}

.group__course-content-actions {
    text-align: center;
    margin: 24px 0;
}

.group__course-content-button {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.02));
    background-color: #fff;
    border: 1px solid #b5b5b5;
    padding: 0.5em 1em;
    border-radius: 99rem;
    color: #111;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    outline: 0;
    padding: 6px 14px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    margin-bottom: 16px;
}

.group__course-content-button.PRIMARY {
    background-color: #0079f2 ;
    border-color: #0079f2;
    color: #fff;
}


.group__breadcrumbs {
    max-width: 980px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
    margin: 24px auto 0;
    font-size: 13px;
    padding: 4px 8px 8px;
}

.group__breadcrumbs a:visited {
    text-decoration: none;   
    color:#0079f2; 
}


.group__course-item-title {
    text-align: center;
    margin: 8px 0 0;
    font-size: 32px;
}

.group__course-item-sub-title {
    text-align: center;
    color: #aaa;
    font-weight: normal;
    margin: 4px 0 16px;
    font-size: 14px;
}

.group__course-item-menu-tabs {
    display: flex;
    margin: 1.5em 0 2em;
    align-items: center;
    justify-content: center;
}

.group__course-item-menu-tab {
    text-decoration: none;
    flex: 0 0 auto;
    width: 72px;
    text-align: center;
    cursor: pointer;
    padding: 4px 24px;
    color: #444;
    border-radius: 4px 0 0 4px;
    border: 1px solid #777;
}

.group__course-item-menu-tab.SELECTED {
    background-color: #777;
    color: #fff;
}

.group__course-item-menu-tab:first-child {
    border-right: 0;
}

.group__course-item-menu-tab:last-child {
    border-radius: 0 4px 4px 0;
    border-left: 0;
}

.group__course-item-settings {
    padding: 16px 0;
    margin-top: 48px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    font-size: 13px;
}

.group__course-item-settings-content {
    padding: 0px 6px 0;
    max-width: 480px;
    max-width: 648px;
    margin: 0 auto;
}

.group__course-item-settings-item {
    position: relative;
    display: flex;
    padding: 10px 32px 10px 8px;
    border-radius: 6px;
    /* border-top: 1px solid #f7f7f7; */
    transition-property: padding, background-color, margin;
    transition-duration: .16s;
    cursor: pointer;
    line-height: 1.3;
}

.group__course-item-settings-item-name {
    font-weight: 600;
    width: 80px;
    padding: 4px 16px 4px 0;
    padding: 4px 0;
    flex-shrink: 0;
}

.group__course-item-settings-item-state {
    padding: 4px 0;
    flex: auto;
    position: relative;
}



.group__course-item-description {
    max-width: 640px;
    margin: 12px auto;
    line-height: 1.8;
    margin-bottom: 32px;
}

.group__course-channel {
    /* padding: 16px; */
    max-width: 960px;
    margin: 16px auto;
    /* background-color: #fbfbfb; */
    /* border: 1px solid #dbdbdb; */
    border-radius: 12px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    background-color: #fff;
    height: 800px;
    display: flex;
 }

 .is-mobile .group__course-channel {
    border-radius: 0;
    box-shadow: unset;
 }
 
.group__course-channel-content {
     flex: 1;
     padding:0 16px;
}

.is-mobile .group__course-channel-content {
    display: none;
}


.group__course-channel-header {
    border-bottom: 1px solid #ddd;
    padding: 16px;
    font-weight: 600;
    font-size: 18px;
}

.group__course-channel-menu {
    width: 200px;
    border-left: 1px solid #ddd;
    padding: 16px;
}

.is-mobile .group__course-channel-menu {
    width: 100%;
}

.group__course-channel-menu-item {
    padding: 4px;
    color: #000;
    text-decoration: none;
    display: block;
}

.group__course-channel-menu-item.SELECTED {
    background-color: rgba(0, 0, 0, .54);
    color: #fff;
    border-radius: 4px;
}

.is-mobile .group__course-channel-menu-item {
    color: #0079f2;
}

.is-mobile .group__course-channel-menu-item.SELECTED {
    background-color: #fff;
}

.group__course-channel-messages{
    height: 686px;
}

.group__course-channel-textbox,
.group__channel-input {
    display: block;
    resize: none;
    margin: 0 24px 0 0;
    padding: 12px 42px 13px 12px;
    font-size: 15px;
    font-family: inherit;
    line-height: 20px;
    color: #333;
    color: #000;
    background-color: #eee;
    background-color: #f0f0f0;
    background-color: #e0e0e0;
    background-color: #e5e5e5;
    background-image: none;
    border: none;
    border-radius: 6px;
    transition-property: border-color, box-shadow;
    transition-duration: .2s;
    width: 100%;
    height: 45px;
    vertical-align: baseline;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
}

.group__channel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
}

.group__channel-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    gap: 12px;
}

.group__channel-messages {
    height: 86vh;
}


.group__channel-input-container {
    padding: 0 16px;
}

.group__channel-name {
    font-weight: 600;
    font-size: 18px;
}

.group__channel-group-name {
    color: #888;
    font-size: 14px;
}

.group__channel-back-button-icon {
    width: 20x;
    height: 20px;
}

.list-table {
    padding: 32px;
}

.list-table__table {
    box-sizing: border-box;
    display: table;
    width: 100%;
}

.list-table__row {
    display: table-row;
    break-inside: avoid-page;
}

.list-table__row > * {
    display: table-cell;
    vertical-align: middle;
    padding: 14px 8px;
    border-bottom: 1px solid #e5e5e5;
    white-space: nowrap;
    line-height: 1.3;
}

.list-table__row a {
    color: #0079f2;
}

.list-table__row.HEADER {
    font-weight: 600;
    font-weight: bold;
}

.all-groups__title {
    text-align: center;
    margin: 16px 0 0 0;
}

.group {
    /* max-width: 920px; */
    margin: 8px auto;
    /* background-color: #fbfbfb;
     border: 1px solid #dbdbdb;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    background-color: #fff; */
}

.group__info {
    justify-content: space-between;
    margin-bottom: 16px;
    max-width: 1024px;
    margin: 0 auto 16px auto;
}

.group__type {
    display: block;
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    text-align: center;
}

.group__name {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.group__features {
  text-align: center;
  margin-top: 16px;
}

.group__feature-tabs  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    padding: 0px 36px;
    /* border-radius: 12px; */
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    scrollbar-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .04);
    scrollbar-width: thin;
}

.is-mobile .group__feature-tabs  {
    justify-content:unset;
    font-size: 14px;
}

.group__feature-tabs ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.group__feature-tabs ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .1);
}

.group__feature-tabs ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .04);
    border-radius: 0;
}

.group__feature-tab  {
    padding-bottom: 10px;
    padding: 0 8px 10px 8px;
}

.group__feature-tab.SELECTED  {
    border-bottom: 2px solid #0079f2;
    border-bottom: 2px solid #333;
}

.group__feature-tab.SELECTED a  {
    color: #0079f2;
    color: #000;
    text-decoration: none;
}

.group__feature-tab a  {
    color: #000;
    text-decoration: none;
}


.group-content__actions {
    text-align: center;
    margin: 48px 0;
}

.group-content__button {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.02));
    background-color: #fff;
    border: 1px solid #b5b5b5;
    padding: 0.5em 1em;
    border-radius: 99rem;
    color: #111;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    outline: 0;
    padding: 6px 14px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    margin-bottom: 16px;
}

.group-content__button.PRIMARY {
    background-color: #0079f2 ;
    border-color: #0079f2;
    color: #fff;
}

.group__course-content {
    /* padding: 16px; */
    max-width: 960px;
    margin: 24px auto;
    /* background-color: #fbfbfb; */
    /* border: 1px solid #dbdbdb; */
    border-radius: 12px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    box-shadow: 0 -1px 1px hsla( 34.5, 20.9%, 44.1% , 0.05), 0 1px 2px -0.5px hsla( 34.5, 20.9%, 44.1% , 0.1) , 0 2px 4px -1px hsla( 34.5, 20.9%, 44.1% , 0.2) , 0 4px 8px -2px hsla( 34.5, 20.9%, 44.1% , 0.2) , 0 16px 32px -8px hsla( 34.5, 20.9%, 44.1% , 0.2);
    background-color: #fff;
}

.group__course-content-section {
    margin: 0px 0 8px;
    padding: 16px;
}

.group__course-content-section:last-child {
    margin: 0;
}

.group__course-content-section-name {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 4px;
}

.group__course-content-item {
    padding: 12px 0;
    color:#0079f2;
    text-decoration: none;
}

.group__course-content-item a {
    text-decoration: none;
}

.group__course-content-item-new {
    color:#000; 
    padding: 8px 0; 
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;
}

.group__course-content-actions {
    text-align: center;
    margin: 24px 0;
    padding-bottom: 16px;
}

.group__course-content-button {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.02));
    background-color: #fff;
    border: 1px solid #b5b5b5;
    padding: 0.5em 1em;
    border-radius: 99rem;
    color: #111;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    outline: 0;
    padding: 8px 24px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    margin-bottom: 16px;
}

.group__course-content-button.PRIMARY {
    background-color: #0079f2 ;
    border-color: #0079f2;
    color: #fff;
}
