.page {

}

.page__sheet {
    display: block;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 6px;
    padding: 16px 0 32px 0;
    max-width: 960px;
    margin: 0 auto;
}

.page__breadcrumb {
    text-align: center;
    margin: 16px 0;
}

.page__breadcrumb-link {
    color:#0079f2;
}