<div class="context-menu" data-component="context-menu">
    <div class="context-menu__container">
        <div class="context-menu__items">  
            <div class="context-menu__item"> 
                <!-- _global/calendar-event-fill.svg -->                
               <span>Kalender</span>
            </div> 
             <div class="context-menu__item"> 
                 <!-- _global/briefcase-fill.svg -->                
                <span>LIA</span>
             </div> 
             <div class="context-menu__item"> 
                <!-- _global/bookmark-fill.svg -->                
               <span>Löggböcker</span>
            </div> 
            <hr>
             <div class="context-menu__heading">Admin</div>                                                   
             <div class="context-menu__item">                 
                 <div>LIA inställningar</div>          
              </div> 
        </div>
    </div>
  
</div>