<div class="profile-menu" data-component="profile-menu">
    <div class="profile-menu__container">
        <div class="profile-menu__items">  
            <div class="profile-menu__heading">Adam Adminsson</div>                                                   
            <div class="profile-menu__item">                 
                <div>Visa profilsidan</div>          
             </div>       
             <div class="profile-menu__item">                 
                <div>Logga ut</div>      
             </div>                  
        </div>
    </div>
  
</div>