<header>
    <nav>
        <div class="learnpoint-startpages__button">
            <a href="/" class="learnpoint-startpages__link"><img src="/_images/_global/arrow-left-circle.svg" class="learnpoint-startpages__link-icon"><span></span></a>
        </div>
        <div class="top-nav">
            <a href="/a" class="top-nav__link">
                <!-- _global/house-fill.svg -->
               <span>Hem</span>
           </a>
           <a href="#" class="top-nav__link" data-element="notifications-popover.toggle-button">
               <!-- _global/bell-fill.svg -->
               <span>Aviseringar</span>
           </a>
           <a href="#" class="top-nav__link">
                <!-- _global/calendar-event-fill.svg -->
                <span>kalender</span>
           </a>
        <div class="top-nav__user-profile">
            <img src="/_images/_global/ProfileImage.jpg" class="top-nav__avatar">
        </div>
    </nav>
</header>