<header>
    <div class="learnpoint-startpages__button">
        <a href="/" class="learnpoint-startpages__link"><img src="/_images/_global/arrow-left-circle.svg" class="learnpoint-startpages__link-icon"><span></span></a>
    </div>
    <nav class="top-nav">
        <a href="/c" class="top-nav__link"><img src="/_images/_global/house-fill.svg" class="top-nav__icon"><span>Home</span></a>
        <a href="#" class="top-nav__link"> <img src="/_images/_global/bell-fill.svg" class="top-nav__icon"><span>Notifications</span></a>
        <a href="#" class="top-nav__link"><img src="/_images/_global/chat-fill.svg" class="top-nav__icon"><span>Chat</span></a>
    </nav>
</header>