<header>
    <div class="learnpoint-startpages__button">
        <a href="/" class="learnpoint-startpages__link"><img src="/_images/_global/arrow-left-circle.svg" class="learnpoint-startpages__link-icon"><span></span></a>
    </div>
    <nav class="top-nav">
        <a href="/f" class="top-nav__link">
            <!-- _global/house-fill.svg -->
            <span>Home</span>
        </a>
        <a href="#" class="top-nav__link">
            <!-- _global/calendar-event-fill.svg -->
            <span>Calendar</span>
        </a>
        <a href="#" class="top-nav__link">
            <!-- _global/chat-fill.svg -->
            <span>Chat</span>
        </a>
    </nav>
    <div class="top-nav__notifications" data-element="notifications-popover.toggle-button">
        <a href="#" class="top-nav__link"> <img src="/_images/_global/bell-fill.svg" class="top-nav__bell-icon">
        </a><span class="top-nav__unread-badge">2</span>
    </div>
    <div class="top-nav__user-profile">
        <img src="/_images/_global/ProfileImage.jpg" class="top-nav__avatar">
    </div>
    
</header>