<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title || Hello World }}</title>
    <meta name="description" content="{{ description || This site was created by Piko }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/f/style.css" />
    <link rel="stylesheet" href="/_styles/_global/page.css" />
    <script defer src="/_scripts/script.js"></script>
</head>

<body>
    <!-- _global/top-nav-v1.html -->
    <main>
        {{ content }}
    </main>
</body>

</html>